# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.egg-info/
.eggs/
build/
dist/
wheels/
.pytest_cache/
.coverage
htmlcov/

# Virtualenvs
.venv/
venv/
env/

# Tooling
.direnv/
.idea/
.DS_Store

# Packaging
pip-log.txt
pip-delete-this-directory.txt

# Rust / Cargo / PyO3 / maturin
target/
**/*.rs.bk
.maturin/

# Tests
.tox/
.cache/

# Docs
docs/_build/
